<ol>
  <% sas.each do |s| %>
    <li><%= link_to s.salescontractcode, company_contract_sales_contract_path(id: s.salescontractid, contract_id: s.projectcode), remote: true -%>(合同金额：<%= s.amounttotal -%>)</li>
    <%= s.salescontractshort -%>
  <% end %>
</ol>

