<label class="col-form-label" for="select-in-department-code"><%= t('.in_department_code') %></label>
<%= select_tag :in_department_code, options_for_select(dept_codes), class: 'form-control-plaintext form-control', id: 'select-in-department-code', data: { remote: true, type: :script, url: url_for(controller: 'report/labor_cost_monthly_adjusts', action: 'in_department_code_change', format: 'js')} -%>
