<label class="col-form-label" for="select-out-position-code"><%= t('.out_position_code') %></label>
<%= select_tag :out_position_code, options_for_select(position_codes), class: 'form-control-plaintext form-control', id: 'select-out-position-code' -%>
