<label class="col-form-label" for="select-out-department-code"><%= t('.out_department_code') %></label>
<%= select_tag :out_department_code, options_for_select(@dept_codes), class: 'form-control', id: 'select-out-department-code' -%>
