<div class="row justify-content-center">
  <div class="col-lg-12">
    <h3 class="page-title" id="home-hula-title">
      <%= t(".title") %>
    </h3>
  </div>
</div>
<div class="row" id="home-hula-container" data-controller="home-hula-loader">
</div>
<div class="row justify-content-center">
  <div class="col-lg-12">
    <h3 class="page-title" id="home-training-title">
      <%= t(".training") %>
    </h3>
  </div>
</div>
<div class="row" id="home-training-container" data-controller="home-training-loader">
</div>
