<div class="row">
  <div class="col-sm-12 col-xl-6">
    <div class="card" data-controller="company-news-loader">
      <div class="card-header">
        <i class="fa fa-align-justify"></i><%= t('.news') -%>
      </div>
      <div class="card-body">
        <ul class="list-group" id="company-news-ul">
        </ul>
      </div>
    </div>
  </div>
</div>
