<div class="row">
  <div class="col-sm-12 col-xl-6">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i><%= t('.knowledge') -%>
      </div>
      <div class="card-body">
        <ul class="list-group">
          <% @knowledges.each do |knowledge| %>
            <%= link_to modal_company_home_knowledge_path(knowledge), remote: true do %>
              <li class="list-group-item"><%= knowledge.question -%></li>
            <% end %>
          <% end -%>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="knowledge-modal" class="modal" tabindex="-1" role="dialog"></div>
