<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" style="flex: 1"><%= @dept_name -%></h5>
      <div style="flex: 1" class="text-center"><%= @drill_down_subtitle %></div>
      <a style="flex: 1" class="close text-right" data-dismiss="modal" aria-label="Close">
        <i class="fas fa-window-close"></i>
      </a>
    </div>
    <div class="modal-body">
      <%= render partial: "#{params[:action]}_table", locals: { rows: rows } %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t('.close') -%></button>
    </div>
  </div>
</div>
