<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">
        <%= t(".title") %>
      </h5>
    </div>
    <div class="modal-body">
      <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
          <% details.each do |d| %>
            <tr>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t('.close') -%></button>
    </div>
  </div>
</div>
