<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <strong><%= t('.form_header') %></strong>
      </div>

      <%= render 'form', it_knowledge: @it_knowledge %>

    </div>
  </div>
</div>
