<h1>Editing It Knowledge Maintain</h1>

<%= render 'form', it_knowledge_maintain: @it_knowledge_maintain %>

<%= link_to 'Show', @it_knowledge_maintain %> |
<%= link_to 'Back', it_knowledge_maintains_path %>
