<div class="row justify-content-center">
  <div class="col-lg-12">
    <div class="container">
      <h3 class="page-title">
        <%= @knowledge.question -%>
      </h3>

      <%= @knowledge.answer %>
    </div>
  </div>
</div>
