<div class="sidebar" data-controller="coreui-sidebar">
  <div class="sidebar-header">
    <%= link_to capital_report_path, class: "nav-link" do %>
      <i class="fas fa-jedi"></i>
      <%= t("layouts.sidebar.capital_report.header") %>
    <% end %>
  </div>
  <nav class="sidebar-nav">
    <ul class="nav">
    </ul>
  </nav>
</div>
