<div class="sidebar">
  <div class="sidebar-header">
    <%= link_to person_root_path, class: "nav-link" do %>
      <i class="fas fa-home"></i>
      <%= t("layouts.sidebar.company.header") %>
    <% end %>
  </div>
  <nav class="sidebar-nav">
    <ul class="nav">
    </ul>
  </nav>
  <button class="sidebar-minimizer" type="button"></button>
</div>
