<div class="sidebar" data-controller="coreui-sidebar">
  <div class="sidebar-header">
    <%= link_to cost_split_root_path, class: "nav-link" do %>
      <i class="fas fa-balance-scale"></i>
      <%= t("layouts.sidebar.cost_split.header") %>
    <% end %>
  </div>
  <nav class="sidebar-nav">
    <ul class="nav">
    </ul>
  </nav>
  <button class="sidebar-minimizer" type="button"></button>
</div>
