<div class="sidebar" data-controller="coreui-sidebar">
  <div class="sidebar-header">
    <%= link_to report_human_resource_path, class: "nav-link" do %>
      <i class="fas fa-jedi"></i>
      <%= t("layouts.sidebar.human_resource.header") %>
    <% end %>
  </div>
  <nav class="sidebar-nav">
    <ul class="nav">
    </ul>
  </nav>
  <button class="sidebar-minimizer" type="button"></button>
</div>
