@import "variables";

// Custom styles for this template

a.card-link,
a.card-link:hover {
  color: inherit;
  text-decoration: none;

  &:hover {
    background-color: darken($card-bg, 10%);
  }
}

.card .nav.nav-tabs {
  .nav-link {
    margin-left: -1px;
    margin-right: -1px;

    font-size: 1.25em;

    &.active {
      font-weight: bold;
    }

    &:not(.active) {
      margin-top: -1px;
      border-top: 2px solid $border-color;
      background: $gray-100;

      &:hover {
        color: $gray-800;
        border-color: $border-color;
      }
    }
  }
}

.nav-tabs .nav-item {
  z-index: $zindex-nav-tab;
}

.sidebar {
  .sidebar-header {
    margin: 0;
    padding: 0;

    text-align: left;

    background: $sidebar-bg;
    @include borders($sidebar-header-borders);
  }

  .nav {
    .nav-item.active .nav-link {
      box-shadow: inset 4px 0 0 $sidebar-nav-link-active-box-color;
      color: $sidebar-nav-link-active-color;
      background: $sidebar-nav-link-active-bg;
      @include borders($sidebar-nav-link-active-borders);

      .nav-icon {
        color: $sidebar-nav-link-active-icon-color;
      }
    }

    //.nav-item .nav-link {
    //  .nav-icon {
    //    font-size: 18px;
    //  }
    //}
  }
}

body:not(.sidebar-minimized) {
  .sidebar {
    .nav {
      .nav-link {
        i {
          width: 50px;
          height: 45px;
          margin-top: -($sidebar-nav-link-padding-y + 0.25rem) !important;
          margin-right: ($sidebar-nav-link-padding-x / 2);
          margin-bottom: -$sidebar-nav-link-padding-y;
          margin-left: -$sidebar-nav-link-padding-x;
          line-height: 45px;
          color: $sidebar-nav-link-icon-color;
        }
      }
    }
  }
}

.sidebar-minimized {
  .sidebar .nav .nav-dropdown.open {
    background: transparent;
  }
}

.main-header-wrapper {
  margin-bottom: $main-header-margin-bottom;

  .alert {
    padding: $main-header-padding-y $main-header-padding-x;
  }

  .action_bar {
    padding: $action_bar-padding-y $action_bar-padding-x;
    margin-bottom: 0;
    background-color: $action_bar-bg;
    @include border-radius($action_bar-border-radius);
    @include borders($action_bar-borders);

    ol, ul {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      list-style: none;

      margin: 0;
      padding: 0;
    }

    .btn-group {
      vertical-align: top;
    }

    .btn {
      padding: 0 $input-btn-padding-x;
      vertical-align: top;
      border: 0;

      &:hover,
      &.active {
        color: $body-color;
        background: transparent;
      }
    }

    .action_bar-item {
      // The separator between breadcrumbs (by default, a forward-slash: "/")
      + .action_bar-item {
        padding-left: $action_bar-item-padding;

        &::before {
          display: inline-block; // Suppress underlining of the separator in modern browsers
          padding-right: $action_bar-item-padding;
          color: $action_bar-divider-color;
          content: $action_bar-divider;
        }
      }
    }
  }
}

.aside-menu {
  .close {
    position: absolute;
    top: 0;
    right: 0;

    padding: $aside-menu-nav-padding-y $aside-menu-nav-padding-x;
    color: $body-color;
    border-top: 0;
    @include border-radius(0);

    font-size: $font-size-base;
    font-weight: $font-weight-base;
    line-height: $line-height-base;
    margin-bottom: -1px;
  }
}

.app-header {
  padding: $navbar-padding-y $navbar-padding-x;

  .dropdown-menu {
    margin-top: $navbar-dropdown-margin-top;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .avatar {
    img {
      width: 34px;
      border-radius: 0 !important;
    }
  }

  .aside-style-toggler-icon {
    height: 23px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' fill='none' rx='0' ry='0'%3E%3C/rect%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 9C16 12.866 12.866 16 9 16C5.13401 16 2 12.866 2 9C2 5.13401 5.13401 2 9 2C12.866 2 16 5.13401 16 9ZM14.7995 8.99947C14.7995 12.2027 12.2027 14.7995 8.99947 14.7995C5.79622 14.7995 3.19947 12.2027 3.19947 8.99947C3.19947 5.79622 5.79622 3.19947 8.99947 3.19947C12.2027 3.19947 14.7995 5.79622 14.7995 8.99947Z' fill='%23ffffff'%3E%3C/path%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.40872 7.25119C5.29766 7.4746 5.41473 7.72736 5.64477 7.82396C5.91972 7.93941 6.24629 7.78802 6.39556 7.52986C6.50715 7.33685 6.66689 7.10649 6.89072 6.86996C7.4888 6.24035 8.36546 6.06703 8.92382 6.02423C9.21092 6.00222 9.45785 5.77079 9.45785 5.48286C9.45785 5.22694 9.26172 5.01684 9.00613 5.02987C8.33963 5.06386 7.0712 5.26145 6.13978 6.21131C5.77342 6.60004 5.54394 6.97913 5.40872 7.25119ZM14.2069 15.6207C13.8166 15.2302 13.8167 14.5974 14.2071 14.207C14.5976 13.8165 15.2308 13.8166 15.6212 14.2072L16.0735 14.6598C16.7415 14.4806 17.4842 14.6526 18.0081 15.1766L21.0521 18.2211C21.833 19.0022 21.8319 20.2694 21.0509 21.0504C20.2698 21.8315 19.0024 21.8325 18.2213 21.0514L15.1773 18.0069C14.654 17.4835 14.4819 16.7418 14.6603 16.0744L14.2069 15.6207ZM15.8736 15.8587C15.4836 16.2487 15.4824 16.8814 15.8717 17.2721L18.9285 20.3407C19.3188 20.7325 19.9535 20.7326 20.3446 20.3416C20.7346 19.9516 20.7357 19.3189 20.3464 18.9282L17.2897 15.8596C16.8994 15.4678 16.2646 15.4677 15.8736 15.8587Z' fill='%2322a6b3'%3E%3C/path%3E%3C/svg%3E");
  }

  @include media-breakpoint-down(md) {
    padding-left: 0;

    .navbar-brand {
      position: relative;
      left: auto;
      top: auto;
    }
  }
}

.aside-menu .nav.nav-tabs {
  background-color: $gray-200;
}

.help-block {
  font-size: $help-block-font-size;
}

.error-message {
  color: $error-message-color;
  font-weight: bold;
}

.form-inline .form-control2 {
  width: 100px;
}

.form-control2 {
  width: 100px;
}

.form-inline .form-control3 {
  width: 80px;
}

.form-control3 {
  width: 80px;
}

// Here you can add other styles

