.main .container-fluid {
  padding: 0 20px;
}

#name-card-back-image img {
  max-width: 100%;
  max-height: auto;
}

.form-button {
  border: 0;
  padding: 0 $input-padding-x;
}

.table-no-padding th,td {
  padding: 1px;
}

.selectize-input {
  max-width: 700px;
  min-width: 150px;
}

.navbar-brand {
  img {
    height: 18px;
  }
}

#full-map {
  background-color: $sidebar-bg;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 50px;
  width: 100%;
}

// Keep as a separate element so folks can easily override it with another icon
// or image file as needed.
.aside-style-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

#brief {
  padding: 0;
}
