#name-card-back-image img {
  max-width: 100%;
  max-height: auto;
}

.form-button {
  border: 0;
  padding: 0 $input-padding-x;
}

.table-no-padding th,td {
  padding: 1px;
}

.selectize-input {
  max-width: 700px;
  min-width: 150px;
}

.navbar-brand {
  img {
    height: 18px;
  }
}
