@import "variables";
@import "~@coreui/coreui/scss/coreui";
@import "custom";
@import "~trix/dist/trix";
@import "actiontext";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~selectize-bootstrap4-theme/scss/selectize.bootstrap4";
@import "~datatables.net-bs/css/dataTables.bootstrap";
@import "~datatables.net-buttons-bs/css/buttons.bootstrap";
@import "~datatables.net-responsive-bs/css/responsive.bootstrap";
@import "~datatables.net-select-bs/css/select.bootstrap";
@import "~datatables.net-fixedheader-bs4/css/fixedHeader.bootstrap4";
@import "dataTables.bootstrap";
@import "simple-calendar";
@import "tianhua";
