<div class="row">
<div class="col-md-12">
<div class="card">
<div class="card-header">
  <strong><%= t('.form_header') %></strong>

</div>
<%= form_with model: @proof_of_income_apply, url: person_proof_of_incomes_path, class: 'form-horizontal', local: true do |f| %>
<div class="card-body">

</div>

<div class="card-footer">
  <%= f.submit t('.submit'), class: 'btn btn-sm btn-primary' %>
</div>
<% end %>
</div>
</div>
</div>
