<%- content_for :head do %>
 <meta http-equiv="refresh" content="3; URL=<%= company_joint_review_sms_url -%>">
<% end %>

<% @received_sms_messages.each do |rsm| %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">号码：<%= rsm.receive_id[0..3]+'****'+rsm.receive_id[7..] -%></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= rsm.created_at.to_s(:db_short) -%></h6>
      <p class="card-text"><%= rsm.content -%></p>
    </div>
  </div>
<% end %>
